<!DOCTYPE html>
<html class="no-js" lang="{{ htmllang() }}">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>
{% if record.title is defined %}{{ record.title|striptags }} | {% endif %}
{{ app.config.get('general/sitename') }}
{% if record.title is not defined and app.config.get('general/payoff') %} | {{ app.config.get('general/payoff') }}{% endif %}
</title>

<link rel="stylesheet" href="{{ paths.theme }}css/contact.css">

</head>
<body>

<h2>{{ record.title }}</h2>

{{ record.body }}

{{ simpleform('contact') }}

<script src="{{ paths.theme }}javascripts/app.js" async defer></script>

</body>
</html>