<!-- Sidebar -->

<aside class="large-4 columns">


      {% setcontent records = "programmas" limit 15  %}

      <h5>{{ __('contenttypes.generic.recent', {'%contenttypes%': ct.slug}) }}</h5>
      <ul>
          {% for record in records %}
              <li><a href="{{ record.link }}">{{ record.title }}</a></li>
          {% else %}
              <li>{{ __('contenttypes.generic.no-recent', {'%contenttype%': ct.slug}) }}</li>
          {% endfor %}
      </ul>
      <p><a href="{{ paths.root }}{{ct.slug}}">{{ __('contenttypes.generic.overview',{'%contenttypes%': ct.slug}) }} &raquo;</a></p>


</aside>

<!-- End Sidebar -->
