
<!-- Footer -->
        <footer class="large-12 columns">
            <hr />

        </footer>
    </div>
</div>

    <script src="{{ paths.theme }}javascripts/jquery-2.1.0.min.js"></script>
    <script src="{{ paths.theme }}javascripts/foundation.min.js"></script>
    <script src="{{ paths.theme }}javascripts/modernizr.js"></script>

    {# Bolt comes with Magnific Popup, as it's used in the backend. We can use it here, or you can
       just swap it out for the image-viewing script of your choice. Or delete it altogether. #}
    <script src="{{ paths.theme }}javascripts/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="{{ paths.theme }}/javascripts/jquery.tablesorter.js"></script>
    <script src="{{ paths.theme }}javascripts/app.js" async defer></script>

</body>
</html>
