{% include '_header.twig' %}

<!-- Main Page Content and Sidebar -->

<!-- Main Blog Content -->
<div class="large-12 columns">

    <article>

        <h2>{{ record.title }}</h2>

        {% if record.image!="" %}
            <div class="large-4 columns imageholder">
                <a href="{{ image(record.image) }}">
                    <img src="{{ thumbnail(record.image, 400, 260) }}">
                </a>
            </div>
        {% endif %}

        {{ record.teaser }}

        <h1>Programma</h1>

        {% setcontent speeltijden = "speeltijden" where { 'programmas': record.slug } orderby 'starttijd' %}

        <table id="speeltijden" cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <th>Naam</th>
                    <th>Speeltijd</th>
                    <th>locatie</th>
                    <th>link</th>
                </tr>
            </thead>

            <tbody>
                {% for speeltijd in speeltijden %}
                <tr>
                    <td>
                        {{ speeltijd.title }}

                        {% if speeltijd.starttijd is empty or speeltijd.speellokatie is empty %}
                        {% setcontent fuzzy = 'programmaonderdelen' returnsingle where {'slug': speeltijd.programmaonderdelen } %}
                        <p class="fuzzy"><strong>Fuzzy data:</strong>
                            {{ fuzzy.starttijd }}
                            {{ fuzzy.eindtijd }}
                            {{ fuzzy.speellokatie }}
                            {{ fuzzy.speeldag }}
                            {{ fuzzy.speeltijd }}
                            {{ fuzzy.speelduur }}
                            {{ fuzzy.speeldag2 }}
                            {{ fuzzy.speeltijd2 }}
                            {{ fuzzy.speelduur2 }}
                            {{ fuzzy.speeldag3 }}
                            {{ fuzzy.speeltijd3 }}
                            {{ fuzzy.speelduur3 }}
                            {{ fuzzy.speeldag4 }}
                            {{ fuzzy.speeltijd4 }}
                            {{ fuzzy.speellokatie4 }}
                            {{ fuzzy.speelduur4 }}
                        </p>
                        {% endif %}

                    </td>

                    <td>
                        {% if speeltijd.starttijd is not empty %}
                        {{ speeltijd.starttijd|localdate("%a %H:%M") }}
                        -
                        {% set eindtijd = speeltijd.starttijd ~ " + " ~ speeltijd.lengte ~ " minutes" %}
                        {{ eindtijd|localdate("%a %H:%M") }}
                        <br><span style="font-size: 90%">({{ speeltijd.lengte }} minuten)</span>
                        {% else %}
                        <span class="todo">niet ingevuld</span>

                        {% endif %}
                    </td>

                    <td>
                        {{ speeltijd.speellokatie|default('<span class="todo">niet ingevuld</span>')|raw }}
                    </td>

                    <td>
                    {% if speeltijd.programmaonderdelen is not empty and speeltijd.programmaonderdelen != "0" %}
                        Link: <a href="/programmaonderdeel/{{speeltijd.programmaonderdelen}}">
                        {{speeltijd.programmaonderdelen|default('geen')|excerpt(40)}}</a> <br>
                    {% else %}
                        <span class="todo">Niet gekoppeld</span>
                    {% endif %}

                        Bewerk: <a href="/bolt/editcontent/speeltijden/{{speeltijd.id}}">Speeltijd #{{speeltijd.id}}</a>

                    </td>

                </tr>
                {% endfor %}
            </tbody>

        </table>

        <br>
        <p>Protip: Klik the kolomhoofden om de tabel te sorteren. </p>


    </article>


</div>

    <!-- End Main Content -->




    {% include '_footer.twig' %}
